<server description="oiz-k8s-session-demo">

<!-- The features installed by the Liberty application accelerator will not appear here.
  Once the application is built the configured features can be found in the
  configDropins/defaults folder in the target/wlp folder. -->

<!-- To extend the feature list either add the app accelerator Maven dependencies, add the features
 below or put a server.xml file in configDropins/overrides. Note: you may need to add Maven provided
 dependencies for use at compile time if not using app accelerator dependencies. -->

    <featureManager>
        <feature>jaxrs-2.0</feature>
        <feature>jsonp-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443"/>

</server>
